out/
classes/

# Idea Files
.idea/*
!.idea/runConfigurations/
!.idea/gradle.xml
!.idea/vcs.xml
.gradle
*/build

# Mac Files
.DS_Store

family2family/node_modules/
family2family/src/main/resources/static/build/
