<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>F2F</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"
          th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          href="../static/css/f2f-main.css"
          th:href="@{/css/f2f-main.css}"/>
</head>

<body>

<div class="container" role="main">
    <div class="page-header" id="mainHeader"></div>
    <div id="appContent"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js" th:src="@{webjars/react/15.3.2/react.js}"></script>
<script src="https://fb.me/react-dom-15.0.1.js" th:src="@{webjars/react-dom/15.0.1/dist/react-dom.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.25/browser.js" th:src="@{webjars/babel-core/5.8.25/browser.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" th:src="@{webjars/jquery/3.1.1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" th:src="@{webjars/toastr/2.1.3/toastr.min.js}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" th:href="@{webjars/toastr/2.1.3/toastr.min.css}"/>

<script type="text/babel" src="../static/js/header.jsx" th:src="@{/js/header.jsx}"></script>
<script type="text/babel" src="../static/js/internal-main.jsx" th:src="@{/js/external-main.jsx}"></script>

</body>

</html>