<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>F2F Sign In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/f2f.css" th:href="@{/css/f2f.css}"/>
</head>

<body>

<div id="app">
</div>

<script type="text/javascript" src="../static/build/sign-in/sign-in-bundle.js" th:src="@{/build/sign-in/sign-in-bundle.js}"></script>

</body>

</html>