/* The css file for the sign in page */
.sign-in-button {
    background: transparent;
    border: none;
}

.logout-button-section {
    display: none;
}

#logo-pic {
    float: left;
}

#site-title {
    float: left;
    font-family:'sans-serif';
    padding-left: 1em;
}

.navbar-brand {
    font-size: 2em !important;
}