/* CSS for the Admin page*/

.button-group button {
    margin: 4px;
}

.button-group .delete {
    margin: 4px 90px 4px 70px;
}

.edit-user-row {
    margin: 30px 0 0 0;
}

.table-header {
    background-color: black;
    color: white;
    font-size: 15px;
    width: 100%;
}

.container .table {
    border: 1px solid black;
}

.users-frame {
    display: block;
}

.ref-tables-frame {
    display: none;
}

.edit-collapse {
    display: none;
    clear: both;
    width: 100%;
}

.row {
    clear: left;
}