/* The css file for the main application */
.MatchContact {
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 3px;
    margin-left: 15%;
}
.NotesBox{
    background-color: white;
    border: 2px solid black;
    margin-left: 15%;
}

.componentBox {
    background-color: black;
    height: 100%;
    margin-right: 5%;
}

.rightInformation {
    background-color: white;
    height: 100%;
}

.leftInformation {
    background-color: white;
    height: 100%;
}
.rowOne {
    width: 100%;
}

.notes-textarea {
    width: 100%;
    height: 80%;
}