.button-group button {
    margin: 4px;
}
.button-group .delete{
    margin: 4px 90px 4px 70px;
}

.editUserRow {
    margin: 30px 0 0 0;
}

.tableheader
{
    background-color: black;
    color: white;
    font-size: 15px;
    width: 100%;
}

.container .table
{
    border: 1px solid black;
}