/* The css file for the main application */

.row-one {
    width: 100%;
    overflow: auto;
}

.component-box {
    width: 45%;
    border: 1px solid black;
    border-left: 3em solid black !important;
    float: left;
    height: 15em;
    margin: 2em;
    padding: 2em;
}

.component-box-title{
    font-size: 2em;
    text-align: center;
}

.contact-information-box, .note-box {
    background-color: white;
}

.notes-textarea {
    width: 100%;
    height: 100%;
}